/*using dark_theme_variables.txt*/

QWidget {
	border: 0px solid @dark;
	border-radius: 0px;
	background-color: @default;
	border-color: @veryDark;
	color: @text;
}

QDialog {
	border: 0px solid @dark;
	border-radius: 0px;
	background-color: @dark;
	border-color: @veryDark;
	color: @text;
}


ExtendibleWidget > QToolButton {
	image: url(:images/arrow-right.png);
}

ExtendibleWidget > QToolButton::checked {
	image: url(:images/arrow-down.png);
}



QTreeView::branch:has-children:!has-siblings:closed,
QTreeView::branch:closed:has-children:has-siblings {
        border-image: none;
        image: url(:images/arrow-right.png);
}

QTreeView::branch:open:has-children:!has-siblings,
QTreeView::branch:open:has-children:has-siblings  {
        border-image: none;
        image: url(:images/arrow-down.png);
}

QTreeView::item:selected {
    border: 1px solid transparent;
    background:@veryLight;
}

QComboBox{
	border: 1px solid @dark;
	padding: 0px 3px 0px 3px;
    background-color: @light;
	color: @text;
}

QListWidget{
	border: 1px solid @dark;
    background-color: @light;
	color: @text;
}

QComboBox::indicator{
    background-color:transparent;
    selection-background-color:transparent;
    color:transparent;
    selection-color:transparent;
}

QComboBox QAbstractItemView {
	border: 1px solid @dark;
	padding: 0px 0px 0px 0px;
    background-color: @dark;
}

QComboBox::item:selected {
    border: 1px solid transparent;
    background:@veryLight;
}

QComboBox::drop-down {
	border-left: 1px solid @dark;
	subcontrol-origin: padding;
	subcontrol-position: top right;
	width: 14px;
}

QComboBox::down-arrow {
	image: url(:images/arrow-down.png);
    width: 8px;
    height: 8px;
}

QMainWindow > QToolBar {
	border-bottom: 2px solid @dark;
}

QMainWindow > QToolBar::handle {
	background-color: @dark;
	width: 4px;
}

/*QTabBar::tab:first {
	margin-top: 32px;
}*/

QTabBar::tab {
	border: 1px solid @veryDark;
	background-color: @dark;
	color: @text;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

QTabBar::tab::selected {
	border: 1px solid @veryDark;
	background-color: @light;
	color: @text;
	padding-left: 1px;
	padding-right: 1px;
	padding-top: 3px;
	padding-bottom: 3px;
}

QTabBar::tab:!selected {
    margin-left: 2px; /* make non-selected tabs look smaller */
}

QMenuBar {
	/*border-bottom: 2px solid @dark;*/
	background-color: @veryDark;
}

QMenu {
	border: 1px solid @veryDark;
	padding: 2px 2px 2px 2px;
    background-color: @dark;
}

QMenu::item {

}

QMenuBar::item {
    spacing: 3px; /* spacing between menu bar items */
    padding: 2px 4px 2px;
    background: transparent;
}

QMenu::item:selected, QMenuBar::item:selected { /* when selected using mouse or keyboard */
    background: @lighter;
}

QMenu::item:hover, QMenuBar::item:hover { /* when selected using mouse or keyboard */
    background-color: @veryLight;
}

QMenu::item:pressed, QMenuBar::item:pressed {
    background-color: @dark;
}


SceneInspector > QHeaderView::section {
	background-color: @light;
	color: @text;
}

/*SceneInspector::item:selected {
    background-color: @highlight;
}

SceneInspector::item:selected:active{
    background-color: background-color: @highlight;
}*/

WidgetContainerSeparator {
	/*border: 1px solid black;*/
	color: black;
	background-color: transparent;
}

/*CoordinatesWidget {
	border-bottom: 2px solid #222222;
	margin-bottom: 4px;
}*/

ToolWidget, CoordinatesWidget {
	border-bottom: 2px solid #222222;
	margin-bottom: 4px;
}

/*ToolBrowser {
	background-color: @light;
}*/


QMainWindow::separator {
    background: @dark;
    width: 3px; /* when vertical */
    height: 3px; /* when horizontal */
}

QDockWidget::title {
    text-align: left; /* align the text to the left */
    padding-left: 2px;
    background: @dark;
}

/*QAbstractScrollArea {
	background-color: @dark;
}*/

QScrollBar {
	border: 1px solid @veryDark;
	background: @dark;
	margin: 15px 0px 15px 0px;
	width: 14px;
}

QScrollBar::add-page, QScrollBar::sub-page {
    background: none;
}

QScrollBar::handle {
	/*margin: 16px 1px 16px 1px;*/
	background: @light;
	min-height: 10px;
}

QScrollBar::add-line:vertical {
	border: 1px solid @veryDark;
	background: @dark;
	width: 12px;
	height: 12px;
	subcontrol-position: bottom;
    subcontrol-origin: margin;
}

QScrollBar::sub-line:vertical {
	border: 1px solid @veryDark;
	background: @dark;
	width: 12px;
	height: 12px;
	subcontrol-position: top;
    subcontrol-origin: margin;
}

QScrollBar::up-arrow:vertical {
	border: 1px solid @veryDark;
	background: transparent;
	image: url(:images/arrow-up.png);
    width: 8px;
    height: 8px;
}

QScrollBar::down-arrow:vertical {
	border: 1px solid @veryDark;
	background: transparent;
	image: url(:images/arrow-down.png);
    width: 8px;
    height: 8px;
}

QStatusBar {
	background: @dark;
}

QPushButton {
    /*border: 1px solid #8f8f91;*/
    border: 1px solid @veryDark;
	padding-left: 3px;
	padding-right: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-top: 1px;
	margin-bottom: 1px;
    border-radius: 0px;
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #f6f7fa, stop: 1 #dadbde);*/
    min-width: 40px;
    background-color: @light;
    color: @text;
}

QPushButton:hover {
	background-color: @veryLight;
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);*/
}

QPushButton:pressed {
	background-color: @dark;
    /*background-color: qlineargradient(x1: 0, y1: 0, x2: 0, y2: 1,
                                      stop: 0 #dadbde, stop: 1 #f6f7fa);*/
}

QPushButton:flat {
    border: none; /* no border for a flat push button */
}

QPushButton:default {
    border-color: navy;
	background-color: #CCAA55;
}


WidgetContainer > QPushButton {
	margin-left: 2px;
}

QLineEdit {
	border: 1px solid @dark;
    background-color: @light;
}

QDoubleSpinBox {
    border: 1px solid @dark;
    background-color: @light;
    min-width: 32px;
    max-width: 100px;
}

QDoubleSpinBox::up-button {
    subcontrol-origin: border;
    subcontrol-position: top right; /* position at the top right corner */
}

QDoubleSpinBox::down-button {
    subcontrol-origin: border;
    subcontrol-position: bottom right; /* position at the top right corner */
}


QToolButton {
    border: none;
}

QToolBar > QToolButton:open { /* when the button has its menu open */
	border: 1px solid @veryDark;
	background-color: @highlight;
}


QCheckBox {
}

ColorWidget {
	border: 1px solid @dark;
}